body {
  background-color: #fff;
  font-family: verdana, sans-serif;
}

.container {
  width: 450px;
  min-height: 300px;
  margin: 50px auto;
  padding: 100px;
  background-color: #fff;
  border-radius: 15px;
  /* border: solid 1px #eee; */
}

.container h1 {
  text-decoration: underline 20px yellow;
}

.bottom {
  width: 50%;
  margin-top: 100px;
  font-size: 0.8em;
}

.bottom p {
  /* text-align: center; */
}

h1 {
  font-size: 60px;
  margin-bottom: 1em;
}

p {
  line-height: 1.7em;
  text-align: justify;
}
